.edit_message,.new_message{
  margin: 20px 8% 0;
  min-width: 700px;
  display: flex;
  justify-content: space-between;
  .message-side{
    height: fit-content;
    width: 18%;
    min-width: 140px;
    background-color: #00d0ff30;
    margin: 0 20px 0 0;
    box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
    border-radius: 5px;
    text-align: center;
    ul.msg_menu{
      margin: 11% 0;
      li{
        height: 100px;
        button{
          background: none;
          border: none;
          outline: none;
        }
        a{
          color: #333;
        }
        i{
        line-height: 100px;
        font-size: 30px;
        cursor: pointer;
          &:hover{
            font-size: 55px;
            transition: all 0.2s ease-out;
          }
        }
      }
    }
  }
  .message-main{
    background-color: #ffffff60;
    width: 70%;
    min-width: 550px;
    padding: 40px 30px 25px;
    box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
    border-radius: 5px;
    .title-area{
      position: relative;
      border: 1px solid #b1b1b1;
      border-radius: 5px;
      padding: 8px 20px;
      #message_title{
        font-size: 22px;
        width: 100%;
        height: 35px;
        border: none;
        outline: none;
        color: #444;
        text-align: center;
        background-color: transparent;
        &::placeholder{
          font-size: 18px;
          position: relative;
          left: -42%;
        }
      }
    }
    .img-area{
      height: 165px;
      margin: 35px 0 60px;
      display: flex;
      justify-content: space-between;
      position: relative;
      &__annotation{
        position: absolute;
        top: -20px;
        right: 0;
        font-size: 14px;
      }
      &__menu{
        border: 1px solid #b1b1b1;
        border-radius: 5px;
        width: 16%;
        min-width: 120px;
        padding: 15px;
        font-size: 18px;
        text-align: center;
        margin: 0 8px 0 0;
        .js-file_group{
          display: none;
        }
        //追加,選択,削除ボタンの挙動
        .push_btn{
          position: relative;
          height: 35px;
          line-height: 35px;
          box-shadow: 1.2px 1.2px 0 #44c7ff;
          color: #42c8ff;
          border-radius: 3px;
          cursor: pointer;
          &:hover {
            opacity: 0.85;
          }
        }
        #msg-img-box{
          #add-img{
            background-color: #42c8ff;
            box-shadow: 2px 2.5px 0 #46a7d0;
            color: white;
            &:active {
              top: 2.5px;
              left: 2px;
              box-shadow: none;
            }
          }
        }
        div#msg-img-box{
          #add-img{
            background-color: #adadad;
            box-shadow: 0 3px 0 #888888;
          }
        }
        #delete-img{
          border: 1px solid #0cb8ff;
          margin: 15px 0 10px;
        }
        #done-img{
          border: 1px solid #0cb8ff;
          &:active {
            top: 1.2px;
            left: 1.2px;
            box-shadow: none;
          }
        }
      }
      &__box{
        border: 1px solid #b1b1b1;
        border-radius: 5px;
        width: 75%;
        overflow: scroll;
        background-color: #333;
        display: flex;
        .img_wrapper{
          position: relative;
          background-color: white;
          height: fit-content;
          width: fit-content;
          margin: 0 4px 0 0;
          a{
            background: #333;
            img{
              max-width: 360px;
              max-height: 165px;
            }
          }
          i{
            position: absolute;
            top: 5px;
            left: 5px;
            font-size: 30px;
            color: #555;
            border-radius: 50%;
            background-color: white;
            padding: 1px 0px 0px 1px;
            display: none;        
          }
        }
      }
      i.photo{
        font-size: 30px;
        border-radius: 5px;
        color: white;
        opacity: 0.9;
        position: absolute;
        top: -1px;
        right: 2px;
      }
    }
    .tag_detail{
      display: flex;
      position: relative;
      .tag_choose{
        height: 277px;
        width: 120%;
        border: 1px solid #b1b1b1;
        border-radius: 5px;
        margin: 0 10px 0 0;
        .parent_list{
          margin: 10px 10px;
          display: flex;
          justify-content: space-between;
          span{
            width: 31%;
            text-align: center;
            background-color: #ffffff8a;
            border: 1px solid #00d0ffc7;
            border-radius: 3px;
            color: #16c7ef;
            cursor: pointer;
          }
        }
        .child_list{
          display: flex;
          flex-flow: wrap;
          padding: 0 10px;
          overflow: scroll;
          max-height: 83%;
          .one_tag{
            font-size: 14px;
            color: #555;
            background-color: #fbfbfb8f;
            border-radius: 5px;
            padding: 2px 9px;
            border: 1px solid #5dcefb;
            margin: 0 6px 6px 0;
            cursor: pointer;
          }
          .tagged{
            background-color: #00d0ffa1;
          }
        }
      }
      .tag_show{
        display: flex;
        color: #444;
        position: absolute;
        top: -40px;
        left: 5px;
        .tag_text{
          margin: 0 10px 0 0;
        }
        .tag_lists{
          display: flex;
          overflow: scroll;
          max-width: 52vw;
          height: 39px;      
          .tag{
            height: fit-content;
            background-color: #00d0ffb0;
            color: #fff;
            border-radius: 20px 8px 8px 20px;
            padding: 0 4px;
            display: flex;
            margin: 0 10px 0 0;
            .tag_off{
              font-size: 17px;
              padding: 0 3px;
              cursor: pointer;
            }
          }
        }
      }
      .detail-area{
        position: relative;
        border: 1px solid #b1b1b1;
        border-radius: 5px;
        height: 235px;
        width: 100%;
        padding: 20px;
        #message_body{
          font-size: 17px;
          height: 100%;
          width: 100%;
          border: none;
          outline: none;
          background-color: transparent;
          &::placeholder{
            font-size: 15px;
          }
        }
        .text_reset_btn{
          padding: 3px 8px;
          font-size: 15px;
          position: absolute;
          right: 10px;
          bottom: 8px;
          background-color: #42c8ff;
          color: #fff;
          border-radius: 3px;
          outline: none;
          border: none;
          box-shadow: 2px 2px 0 #46a7d0;
          &:hover {
            background-color: #5dcefb;        
          }
          &:active {
            bottom: 6px;
            right: 8px;
            box-shadow: none;
          }
        }
      }
    }
  }
  .msg_e{
    position: absolute;
    top: -20px;
    left: 9px;
    font-size: 13px;
    color: #49c3f5;
  }
}