.show-whole{
 padding: 10px;
  b.title{
   font-size: 40px;
   margin: 10px;
  }
  .wrrap-show{
   display:flex;
   margin-bottom: 10px;
   &__image{

    .message-image{
    }
   }
   .show-contents{
    margin-left: 10px;
   }
  }
  .allpath{
   display: flex;
   margin-bottom: 50px;
   .show-edit{
    text-decoration: none;
    color:rgb(61, 61, 61);
    font-size: 30px;
    margin-right: 20%;
   }
   .show-back{
    font-size: 30px;
    text-decoration: none;
    color: rgb(61, 61, 61);
    margin-right: 20%;
   }
   .back-path{
    text-decoration: none;
    color: rgb(61, 61, 61);
    font-size: 30px;
   }
  }
}