- @parents = Category.where(ancestry: nil)
.side_menu
  .topic 　タグ　カテゴリー
  %ul.tag_lists 
    -# %li.tag_list 癌系統
    -# %li.tag_list 認知症
    -# %li.tag_list 筋萎縮性側索硬化症(ALS)
    -# %li.tag_list パーキンソン病
    -# %li.tag_list うつ病
    -# %li.tag_list 統合失調症
    -# %li.tag_list 摂食障がい
  - @parents.each do |parent|
    %ul.category_box
      %li.cat
        %button.cat_btn{name: ''}
          = "#{parent.name}"
        .cat_exibit
          %ul.cat_lists{hidden: ""}
            - parent.children.each do |child|
              %li.cat_tag{"data-id": child.id}
                = child.name