#account-page.account-page
  .account-page__inner.clearfix
    .account-page__inner__left.account-page__header
      %h2.create-en2 Log in
      %p.line _______________________________________________________
      %h5.create-jp 　　　　登録しているユーザーでログイン
      -# = render "devise/shared/links"
    .account-page__inner__right.user-form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field-move
          = f.text_field :email,id: :input1,class: "input-e",autocomplete: "off"
          %label{for: "input"} Email
        .field-move
          = f.text_field :password, autocomplete: "off",id: :input1,class: "input-p"
          %label{for: "input"} Password
          %p.annotation ＊英数字8文字以上
        %label.actions
          = f.submit "Log in", class: 'btn'