.box
  .box_1
    %p ブログ検索
    .search
    %p.exhibit リスト
    %ul.lists 
      %li.lists__li 癌系統
      %li.lists__li 認知症
      %li.lists__li ALS

  .box_2
    %h2.write 共有/綴ってみませんか？
    .news
      %p 今週のPickUP
      .news__box
        %p news1


  