body.main-body{
  height: 100vh;
  width: 100%;
  header{
    z-index: 100;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: skyblue;
    text-align: center;
    display: flex;
    // position: relative;
    border-bottom: solid 1px rgb(214, 214, 214);
    font-family: "Lucida Grande", "segoe UI", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;
    .title{
      height: 100px;
      line-height: 100px;
      margin: 0 auto;
      &__link{
        font-weight: 700;
        font-size: 50px;
        color: white;
        text-decoration: none;
      }
    }
    .header__log{
    width: 260px;
    height: 50px;
    display: flex;
    font-size: 22px;
    line-height: 40px;
    position: absolute;
    top: 25px;
    right: 10px;
    label.grid-6{
      height: 50px;
      line-height: 50px;
      width: 120px;
      margin-right: 10px;
      border: white solid 2px;
      border-radius: 10px;
      .post{
        color:white;
        text-decoration: none;
      }
    } 
    }
  }
  .contents{
    width: 100%;
    height: 100%;
    padding-top:90px;
    display: flex;
    overflow: auto;
  }
  footer{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: pink;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    .prodution{
      margin-left: 5%;
      font-size: 15px;
      color: white;
    }
    .ulll{
      margin-left: 50%;
      display: flex;
      color:#fff;
      height: 50px;
      line-height: 65px;
      text-align: center;
      &__btn{
       float: left;
       margin-left: 20px;
       font-size :20px;
       color:#fff;
       text-decoration: none;
       &--icon{
         font-size: 40px;
       }
      //  &--facebook{
      //  }
      //  &--twitter{
      //  }
      //  &--instagram{
      //  }
      }
     }
  }
}