.room_whole{
 font-family: "Lucida Grande", "segoe UI", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;
 height: 84vh;
 display: flex;
  .right_room{
   width: 45%;
   padding: 20px 15px 0 25px;
    .menu{
     width: 100%;
     height: 31%;
     margin: 0 0 8px;
     display: flex;
      .menu__box{
       height: 100%;
       width: 43%;
       margin: 0 8px 0 0;
       border-radius: 5px;
       display: flex;
       flex-wrap: wrap;
       li{
        height: 47%;
        width: 46%;
        background-color: white;
        border-radius: 5px;
        text-align: center;
        i{
         font-size: 70px;
         color: steelblue;
        }
        .btn_name{
         font-size: 13px;
         background-color: steelblue;
         color: white;
         position: relative;
         bottom: -4px;
         border: 2px solid white;
         border-top: none;
         border-radius: 0 0 5px 5px;
        }
       } 
       .user{
        padding: 5px 0 0;
        margin: 0 5px 5px 0;
       }
       .bell{
        padding: 5px 0 0;
       }
       .note{
        margin: 0 0 0 5px;
       }
      }
      .menu__board{
       height: 98%;
       width: 57%;
       border-radius: 5px;
       border: dotted 2px white;
      }
    }
    .undecided{
     width: 100%;
     height: 68.5%;
     background-color: white;
     border-radius: 5px;
     position: relative;
      .dm-form{
       position: absolute;
       bottom: 30px;
       text-align: right;
       padding: 0 38px 0 0;
        .dm_input{
         border: none;
         border: solid 1px skyblue;
         margin: 0 10px 0 0;
         overflow: visible;
         outline: none;
          &::placeholder{
            color: #888;
          }
          &:focus{
           border: outset thick skyblue;
          }
        }
        .send_dm{
         font-size: 18px;
         margin: 0 8px;
         padding: 5px 10px;
         color: steelblue;
         &:hover{
          text-decoration: underline;
          opacity: 0.8;
         }
        }
      }
    }
  }
  .left_room{
   width: 55%;
   text-align: center;
   .anothers_name{
    color: skyblue;
    background-color: white;
    font-size: 35px;
    border-bottom: 2px solid steelblue;
   }
   .dm_box{
    width: 100%;
    height: 91.5%;
    background-color: skyblue;
    display: block;
    overflow: scroll;
    padding: 10px 0 0;
     #dms{
      .your_dm{
       text-align: left;
       margin:0 15px 10px;
      }
      .anothers_dm{
       text-align: right;
       margin:0 15px 10px;
      }
      .user_name{
       margin: 0 8px;
        a{
         color:#333;
         text-decoration: none;
         &:hover{
          opacity: 0.7;
         }
        }
      }
      .dm_content{
       display: inline-flex;
       &__span{
        margin: 5px 0 0;
        padding: 8px 10px;
        max-width: 350px;
        background-color: white;
        border-radius: 8px;
       }
      }
     }
   }
  }
}