.room_whole{
 font-family: "Lucida Grande", "segoe UI", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;
 padding: 30px 60px;
 height: 615px;
 min-width: 980px;
 display: flex;
 justify-content: space-between;
  .right_room{
   width: 35%;
   padding: 20px 25px 0;   
    .undecided{
      width: 100%;
      height: 300px;
      background-color: #00d0ff1f;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
      display: flex;
      .dm-form{
        bottom: 30px;
        text-align: right;
        width: 90%;
        margin: auto;
        font-family: sans-serif;
        .dm_input{
          border: none;
          margin: 0 10px 0 0;
          overflow: visible;
          outline: none;
          width: 100%;
          resize: none;
          border-radius: 5px;
          padding: 3px;
          background-color: #ffffff78;
          &::placeholder{
            color: #888;
          }
          &:focus{
            margin: -1px;
            border: 1px solid #49c0f1;
          }
        }
        .send_dm{
          border: none;
          font-size: 17px;
          margin: 5px 8px 0;
          padding: 5px 13px;
          color: #fff;
          background-color: #a6a9ab;
          border-radius: 3px;
          outline: none;
         &:hover{
          text-decoration: underline;
          opacity: 0.8;
         }
        }
      }
    }
  }
  .left_room{
   width: 55%;
   height: fit-content;
   text-align: center;
   box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
   border-radius: 5px;
   .anothers_name{
    background-color: #ffffff8c;
    border-bottom: 2px solid steelblue;
    border-radius: 5px 5px 0 0;
    padding: 7px 0;
    a{
      text-decoration: none;
      font-size: 26px;
      font-family: sans-serif;
      color: #585858;
      vertical-align: middle;
      margin: 0 0 0 5px;
      &:hover{
       opacity: 0.8;
      }
    }
   }
   .dm_box{
    width: 100%;
    min-height: 400px;
    max-height: 570px;
    background-color: #00d0ff1f;
    display: block;
    overflow: scroll;
    padding: 10px 0 0;
    cursor: default;
     #dms{
      font-family: sans-serif;
      .your_dm{
        border-radius: 3px;
        text-align: left;
        margin: 0 20px 15px;
        background-color: #fbfbfb9e;
        .your_name{
          color: #31bbf3;
        }
      }
      .anothers_dm{
        border-radius: 3px;
        text-align: left;
        margin: 0 20px 15px;
        background-color: #fbfbfb9e;
      }
      .user_name{
        margin: 0;
        padding: 5px 8px 3px;
        line-height: unset;
        color: #555;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        .posted_date{
          margin: 0 30px;
          font-weight: lighter;
          color: #888;
          font-style: italic;
        }
      }
      .dm_content{
       display: inline-flex;
        &__span{
          padding: 0 18px 7px;
          max-width: 350px;
          border-radius: 8px;
          font-size: 16px;
        }
      }
      .annotation_dm{
        margin: 170px 0 0;
        font-size: 18px;
        color: #666;    
      }
     }
   }
  }
}