.mypage{
 width: 941px;
 height: 590px;
 display: flex;
 margin: 54px auto 35px;
 box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  &__menu{
   width: 70px;
   text-align: center;
   border-right: 1px solid #f3f3f3;
   background-color: #ffffff70;
    li{
     cursor: pointer;
     height: 71px;
      &:hover{
       outline: 2px solid #62b1ca;
       outline-offset: -2px;
       border-radius: 2px;
      }
      i{
       line-height: 71px;
       font-size: 30px;
       color: #62b1ca;
       margin: 0 0 20px;
      }
      .icon-write{
       margin: 0 0 0 5px;
      }
    }
    #profile{
     background-color: #62b1ca;
     i{
      font-size: 40px;
      color: #fff;
     }
    }
  }
  &__whole{
   background-color: #ffffff70;
   width: 870px;
    .mypage-top{
     height: 56px;
     border-bottom: 1px solid #f3f3f3;
     text-align: center;
     span.top-text{
       font-size: 25px;
       color: #444;
       line-height: 56px;
     }
    }
    .mypage-main{
     height: calc(100% - 57px);
     //ホーム画面
      ul.menu-lists{
       display: flex;
       border-bottom: #f3f3f3 1px solid;
       li{
         width: 290px;
         height: 265px;
         text-align: center;
         position: relative;
         border-right: #f3f3f3 1px solid;
          &:hover{
           background-color: #f6f6f6;
          }
          &:hover {
           .user-show-text{
            color: #62b1ca;
           }
          }
          .logo-box{
           height: 200px;
           i{
            color: #62b1ca;
            font-size: 90px;
            line-height: 200px;
           }
           .icon-write{
            margin: 0 0 0 20px;
           }
          }
          .user-show-text{
           color: #555;
           width: 100%;
           position: absolute;
           bottom: 45px;
           left: 0;
          }
        }
        .profile-box{
         &__img{
          height: 130px;
          width: 130px;
          border-radius: 50%;
          margin: 30px 0 0;
         }
        }
      }
      //プロフィール画面
      .edit_user{
       height: 100%;
        .user-info{
         padding: 20px;
         height: calc(100% - 40px);
         display: flex;
          span{
           color: #888;
           font-size: 14px;
           margin: 0 0 0 5px;
          }
          &__right{
           width: 45%;
           .img-wrapper{
            margin: 30px;
            width: fit-content;
            position: relative;
             label{
              position: relative;
              .profile-img{
                height: 200px;
                width: 200px;
                border-radius: 50%;
              }
              #icon_user{
                font-size: 135px;
                height: 200px;
                width: 200px;
                text-align: center;
                line-height: 200px;
                border-radius: 50%;
                background-color: #d6d6d6;
                color: #777;
              }
             }
             #camera{
              position: absolute;
              bottom: 0;
              right: 0;
              padding: 15px;
              border-radius: 50%;
              background-color: #3333338f;
              font-size: 30px;
              color: white
             }
           }
           .introduction{
            margin: 40px 0 0;
            width: 92%;
            min-height: 45%;
            padding: 0 15px;
            word-break: break-all;
            overflow: scroll;
            #user_detail{
              width: 100%;
              height: 200px;
              padding: 3px 5px;
              border: none;
              outline: none;
              resize: none;
              background-color: transparent;
              &:focus{
                border-radius: 3px;
                border: 1px solid #6666665e;
                margin: -1px 0 0 -1px;
              }
            }
           }
          }
          &__left{
           width: 55%;
           position: relative;
           .text-box{
            font-size: 20px;
            padding: 20px 0 10px;
            border-bottom: 1px solid #8888;
             .user-text{
              margin: -2px 0 0;
              #user_name{
               border: none;
               outline: none;
               background-color: transparent;
              }
              #user_character{
               width: 100%;
               border: none;
               outline: none;
               -webkit-appearance: none; 
               background: none;
               background-image: url(/assets/angle-down-solid.svg);
               background-repeat: no-repeat;
               background-size: 14px 30px;
               background-position: right 20px center;        
              }
             }
           }
           .user-update{
            color: white;
            background-color: #71c9e4;
            padding: 13px 25px;
            border-radius: 3px;
            font-size: 18px;
            position: absolute;
            bottom: 40px;
            right: 30px;
            cursor: pointer;
            outline: none;
           }
          }
        }
      }
      //投稿履歴
      .history-box{
        height: 96%;
        padding: 10px 15px;
        display: flex;
        cursor: default;
        .history-box__right{
          height: 100%;
          width: 55%;
          margin: 0 10px 0 0;
          ul.icon-box{
            display: flex;
            margin: 0 0 0 10px;
            padding: 0 0 0 15px;
            height: 40px;
            width: 250px;
            border-bottom: 1px solid #6ccbe8;
            li{
              line-height: 40px;
              padding: 0 10px;
              text-align: center;
              cursor: pointer;
              span{
                font-size: 13px;
                color: #fff;
              }
              i{
                font-size: 20px;
                color: #fff;
              }
            }
            .current{
             border-radius: 4px 0 0 0;
             background-color: #69c3df;
            }
            .trash{
              border-radius: 0 4px 0 0;
              background-color: #c5c5c5;
            }
          }
          ul.lists{
            padding: 15px 10px;
            height: 440px;
            overflow: scroll;
            position: relative;
            .msg_notice{
              position: absolute;
              top: 130px;
              left: 100px;
              color: #a7a7a7;
              font-size: 18px;
            }
            #current_index_0{
              background-color: #cff1ff;
            }
            #past_index_0{
              background-color: #ececec;
            }
            li.current-post,.past-post{
              display: flex;
              padding: 5px 5px 6px;
              margin: 0 0 12px;
              border-bottom: 1px solid #8888;
              position: relative;
              .msg_no_img{
                font-size: 30px;
                width: 60px;
                background-color: #bfbfbf;
                text-align: center;
                border-radius: 2px;
                i{
                  color: #fff;
                  line-height: 50px;
                }
              }
              .post-log{
              padding: 0 5px;
              font-family: sans-serif;
               .date{
                font-size: 13px;
                color: #888;
               }
               .title{
                font-size: 20px;
                color: #333;
                padding: 0 5px;
               }
              }
              .upload{
                position: absolute;
                top: 18px;
                font-size: 30px;
                right: 15px;
                color: #555;
                cursor: pointer;
                display: none;
              }
              .upload_end{
                position: absolute;
                right: 10px;
                font-size: 12px;
                font-weight: 600;
                color: #69c3df;
              }
            }
          }
        }
        .history-box__left{
          height: 100%;
          width: 45%;
          .option-list{
            margin: 0 0 12px;
            height: 20%;
            position: relative;
            .up_from_past{
              position: absolute;
              left: 20%;
              top: 40%;
              padding: 7px 15px;
              border: none;
              outline: none;
              border-radius: 3px;
              font-size: 14px;
              color: #fff;
              background-color: #8bd3f1;
              cursor: pointer;
            }
          }
          .history-content{
            padding: 7px 5px;
            height: 74%;
            border: 2px solid #85c4de;
            border-radius: 3px;
            .image-history{
              display: flex;
              height: 58px;
              padding-bottom: 5px;
              border-bottom: 1px solid #8888;
            }
            .detail-history{
              height: 82%;
              margin: 5px 0 0;
              overflow-y: scroll;
            }
          }
        }
      }
    }
  }

  // 他ユーザーの表示
  .other_info_left{
    width: 50%;
    padding: 10px;
    .user_profile{
     display: flex;
     padding: 20px 10px;
      .prof_info{
       width: 100%;
       padding: 30px 0 0 30px;
        &__list{
          margin: 0 0 35px;
          padding: 0 0 8px;
          border-bottom: 1px solid #999;
          div{
            margin: 0 0 5px;
          }
          span{
            font-size: 18px;
            padding: 0 10px;
          }
        }
      }
    }
    .user_intro{
      margin: 20px 0 0;
      padding: 0 20px;
      .intro{
        font-size: 17px;
        padding: 0 0 5px;
        width: 350px;
        border-bottom: 1px solid #999;
      }
      .intro_box{
        margin: 10px 0 0;
        height: 220px;
        overflow: scroll;
      }
    }
  }
  .other_info_right{
    width: 50%;
    padding: 10px;
    .post_title{
      font-size: 18px;
      padding: 5px 20px;
      margin: auto;
      text-align: center;
      border-bottom: 1px solid #999;
    }
    ul.other_posts{
      height: 450px;
      padding: 10px 0;
      overflow: scroll;
      a{
        text-decoration: none;
        color: #333;
        li.post{
          background-color: #fff;
          margin: 0 0 15px;
          padding: 5px 7px;
          border-radius: 8px;
          font-family: sans-serif;
          .post__title{
            font-size: 16px;
            font-weight: 600;
          }
          .img_and_date{
            display: flex;
            justify-content: space-between;
            font-style: italic;
            color: #888;
            font-size: 13px;
            padding: 3px 10px 5px;
            border-bottom: 1px solid #9999;      
            .images{
              display: flex;
              .post_msg_img{
                margin: 0 5px 0 0;
              }
            }
            .date{
              display: inline-flex;
              align-items: flex-end;
            }
          }
          .post__body{
            padding: 0 10px;
          }
        }
      }
    }
    .contact_menu{
     margin: 23px 0 0;
     text-align: center;
      #send_dm{
        text-decoration: none;
        color: #fff;
        border: none;
        background-color: #00b8ff8c;
        border-radius: 3px;
        padding: 7px 20px;
      }
    }
  }
}